/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}

/* navbar */
.navbar-brand {
    font-family: 'Quicksand', sans-serif;
    color: #272042;
    font-weight: 600;
}

.bg-navbar {
    background: #ffffff;
}

.nav-link {
    color: #8B8BA5;
}

.nav-link .active {
    color: #272042;
}

.mykitchen {
    color: #272042;
    background: #FBE0DC;
    margin-left: 20px;
    border-radius: 20px 20px 5px 5px;
}

/* banner */
.banner-text-title {
    color: #272042;
    font-size: 26pt;
    font-weight: 800;
}

.banner-text-desc {
    color: #8B8BA5;
    font-size: 16px;
}

.banner-menu {
    color: #272042;
    width: auto;
    border-radius: 30px 30px 15px 15px;
}

.banner-image {
    width: 488px;
}


/* special section*/
.special {
    margin-top: 80px;
}

.watch-now {
    color: #8B8BA5;
}

.special-section-highlight {
    color: #272042;
    font-weight: 700;
    font-size: 24px;
}

.menu-live {
    list-style: none;
}

.menu-live > li {
    margin: 20px;
    color: #272042
}

.menu-live > .active {
    color: #F7C531;
    font-size: 20px;
    font-weight: 600;
}

.card-group > .card {
    border: none;
}

.card-group > .card > .card-body > h5 {
    color: #272042;
    font-weight: 600;
}

.card-group > .card > .card-body > p {
    color: #8B8BA5;
}

/* testimonial */
.testimonial {
    margin-top: 150px;
}

.quotes-text {
    font-size: 34px;
}

.username {
    color: #272042;
    font-weight: 600;
}

.occupation {
    color: #8B8BA5;
}

/* statistic */
.statistic {
    margin-top: 60px;
}

.statistic > ul > li > .menu {
    color: #8B8BA5;
    font-size: 12px;
}

.statistic > ul > li > .count {
    color: #272042;
    font-size: 20px;
}